VITE_API_BASE_URL=http://localhost:3000/api
VITE_USE_MOCK=false
VITE_LITEAPI_STRIPE_PUBLIC_KEY=pk_test_51OyYnVA4FXPoRk9YJECd2jJmfprI2inRzqbt5Brk7R41kKIaftBnO8rCetwEVUdfR5WSsLorvNQ0tr4dDcFk8pof002p27EYzN
